@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");
$midnightBlue: #051c2c;
$mysticBlue: #7a93dc;
$vaporBlue: #5461c8;
$nuclearYellow: #ed9b33;
$pickledPink: #e0457b;
$violetPurple: #3f2a56;
$black: #000;
$white: #fff;

$primaryFont: Coda;
$secondaryFont: "Source Code Pro";
