@use "./styles/variables.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $violetPurple;
  font-family: $primaryFont;
  scroll-behavior: smooth;
}

section:first-of-type {
  margin: 0 auto 150px auto;
}
